html,
body {
    background-color: #EEEEEE;
}

a {
    color: #55ACEE;
}

button {
    touch-action: manipulation;
}

input[type="button"] {
    touch-action: manipulation;
}

.content {
    max-width: 640px;
}

.highlight-text {
    color: #EFB90B;
    font-weight: bold;
}
